%meta{charset: "UTF-8"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

%title
  -
  #{current_page.data.title ? current_page.data.title : yield_content(:title)}
  \|
  = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}

%link{href: "/ico/favicon.ico", rel: "shortcut icon"}
%link{href: "/ico/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
%link{href: "/ico/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/ico/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/ico/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/ico/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
%link{href: "/ico/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
%link{href: "/ico/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/ico/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
%link{href: "/ico/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
%link{href: "/ico/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
%link{href: "/ico/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
%link{href: "/ico/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
%link{href: "/ico/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/ico/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: "/ico/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/ico/browserconfig.xml", name: "msapplication-config"}

%link{rel: "stylesheet", href: font_url(current_page)}
%link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"}

-# NOTE: This must be loaded in the head
// Start Visual Website Optimizer Asynchronous Code
:javascript
  var _vwo_code=(function(){
  var account_id=275624,
  settings_tolerance=2000,
  library_tolerance=2500,
  use_existing_jquery=false,
  /* DO NOT EDIT BELOW THIS LINE */
  f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
// End Visual Website Optimizer Asynchronous Code

= stylesheet_link_tag :styles, :highlight
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name
